body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.post {
    border-radius: 10px;
    padding: 15px 20px;
    margin: 20px auto;
    max-width: 800px;
}

.post .title a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.post .title a:hover {
    text-decoration: underline;
}

.post .date {
    font-size: 0.9em;
    margin-top: 5px;
}

.post .content {
    margin-top: 10px;
    line-height: 1.5;
}

.post div:last-child {
    font-size: 0.9em;
    margin-top: 10px;
}
